@model MyShop.Core.Models.Product

@{
    ViewBag.Title = Model.Name + " Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <div class="col-md-4" style="padding:10px; margin:10px; border: solid thin whitesmoke;">
        <div class="col-md-12">
            <img class="img" style="height:250px;" src="~/Content/ProductImages/@Model.Image" />
        </div>
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>
            <p align="center">
                <a href="@Url.Action("AddToBasket", "Basket", new { Id = Model.Id })" class="btn btn-success">Add to Basket</a>
            </p>
        </div>

    </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12">
    @Html.ActionLink("Back to List", "Index")
</div>


